<template>
  <div class="container">
    <div class="login-card">
      <input type="text" placeholder="email" v-model="email">
      <input type="password" placeholder="password" v-model="password">
      <button @click="handleLogin">Login</button>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import Cookie from 'js-cookie';

export default {
  components: {
  },
  middleware: 'notAuth',
  data() {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    async handleLogin() {
      this.connect();
      axios.post('http://localhost:3000/auth', {email: this.email, password: this.password})
        .then(response => {
          this.$store.commit('login', response.data);
          Cookie.set('token', response.data);
          this.socket.send(JSON.stringify(response.data));
          switch(this.$store.state.user.role) {
            case 0:
              this.$router.push('/doctor');
              break;
            case 1:
              this.$router.push('/caregiver');
              break;
            case 2:
              this.$router.push('/patient');
              break;
          }
        }).catch(err => {
        console.log(err.response.data);
      })
    },
    connect() {
      this.socket = new WebSocket("ws://localhost:3000/ws");
      this.socket.onopen = () => {
        this.status = "connected";

        console.log('Connected');
        // this.logs.push({ event: "Connected to", data: 'wss://echo.websocket.org'})


        this.socket.onmessage = ({data}) => {
          // this.logs.push({ event: "Recieved message", data });
          console.log('Received message -> ', data);
        };
      };
    },
    disconnect() {
      this.socket.close();
      this.status = "disconnected";
      this.logs = [];
    },
    sendMessage(e) {
      this.socket.send(this.message);
      this.logs.push({ event: "Sent message", data: this.message });
      this.message = "";
    }
  },
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  .login-card {
    background-color: lightgray;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input {
    margin: 10px 10px;
    padding: 5px;
  }
</style>
