<template>
  <div class="content">
    <span>{{getDate}}</span><br>
    <span><b><i>Your medical plans</i></b></span>
    <plan-cards :planUrl="planUrl"></plan-cards>
  </div>
</template>



<script>
  import PlanCards from "../../components/planCards";
  export default {
    name: "index",
    components: {PlanCards},
    layout: 'auth',
    middleware: 'patient',
    data() {
      return {
        planUrl: 'http://localhost:3000/medication/patient/plan',
        date: new Date().toLocaleTimeString()
      }
    },
    computed: {
      getDate() {
        return this.date;
      }
    },
    mounted() {
      setInterval(() => {this.date = new Date().toLocaleTimeString()}, 1000);
    }
  }
</script>

<style scoped>
</style>
