<template>
    <div class="wrapper">
      <span style="position: absolute; top:20px; left: 20px; font-size: 20px">Welcome back, <b>{{($store.state.user || {}).name}}</b></span>
      <button @click="handleLogout" class="logout">Logout</button>
      <nuxt/>
    </div>
</template>

<script>
  import Cookie from 'js-cookie'
  export default {
    name: "auth",
    methods: {
      handleLogout() {
        this.$store.commit('logout');
        Cookie.remove('token');
        this.$router.push('/');
      }
    }
  }
</script>

<style scoped>
  .logout {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .content {
    margin: 90px 0;
    padding: 0 20px;
  }
</style>
