<template>
  <div class="cards">
    <div v-for="(medicalPlan, index) in getMedicalPlans" :key="index" class="plan-card">
      <span><b>Start treatment:</b> {{medicalPlan.medical_record_start_treatment.substring(0, 10)}}</span>
      <span><b>End treatment:</b> {{medicalPlan.medical_record_end_treatment.substring(0, 10)}}</span>
      <span><b>Medication:</b> {{medicalPlan.medication_name}}</span>
      <span><b>Dosage:</b> {{medicalPlan.medical_record_dosage}} per day</span>
      <span><b>Prescribed by:</b> Dr. {{medicalPlan.doctor_name}}</span>
      <span><b>Side effects:</b> {{sideEffects[index] && sideEffects[index].length ? '' : 'No side effects'}}</span>
      <span style="margin-left: 40px" v-for="sideEffect in sideEffects[index]" :key="sideEffect.description">{{sideEffect.description}}</span>
      <button @click="handleMEdicationTaken(medicalPlan.medical_record_id, index)">Medication taken</button>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  const CronJob = require('cron').CronJob;
  export default {
    name: "planCards",
    data() {
      return {
        medicalPlans: [],
        sideEffects: []
      }
    },
    props: ["planUrl"],
    methods: {
      async handleMEdicationTaken(medical_record_id, index) {
        try {
          await axios.get(`http://localhost:3000/medication/medicationtaken/${medical_record_id}`, { headers: {'Authorization': "bearer " + this.$store.state.token}});
          this.medicalPlans.splice(index, 1);
        } catch(err) {
          console.log(err);
        }
      }
    },
    computed: {
        getMedicalPlans() {
          return this.medicalPlans;
        }
    },
    async mounted() {
      try {
        const call = await axios.get(this.planUrl, { headers: {'Authorization': "bearer " + this.$store.state.token}});
        this.medicalPlans = call.data;
        for (const plan of this.medicalPlans) {
          const sideEffect = await axios.get(`http://localhost:3000/medication/sideeffects/${plan.medication_id}`, { headers: {'Authorization': "bearer " + this.$store.state.token}});
          this.sideEffects.push(sideEffect.data);
        }
        new CronJob('* * * * * *', async () => {
          for (const plan of this.medicalPlans) {
            await axios.get(`http://localhost:3000/medication/medicationnottaken/${plan.medical_record_id}`, { headers: {'Authorization': "bearer " + this.$store.state.token}});
          }
        }).start();
      } catch (err) {
        console.log(err);
      }
    }
  }
</script>

<style scoped>
  .plan-card {
    display: flex;
    width: 400px;
    padding: 10px;
    margin: 10px 0;
    background-color: lightgray;
    flex-direction: column;
  }

  .plan-card {
    margin-bottom: 5px;
    margin-right: 10px;
  }

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .plan-card span {
    margin: 3px;
  }

</style>
