<template>
  <div class="content">
    <div class="create-user-card">
      <span style="font-weight: bold; margin-bottom: 5px">Add a new caregiver/patient</span>
      <input type="text" placeholder="Name" v-model="user.name">
      <input type="text" placeholder="Gender" v-model="user.gender">
      <input type="text" placeholder="Address" v-model="user.address">
      <input type="text" placeholder="Birth date" v-model="user.birth_date" onfocus="(this.type='date')" onblur="(this.type='text')">
      <select name="roles" v-model="user.role">
        <option :value="1" :disabled="user.role === 1">Caregiver</option>
        <option :value="2" :disabled="user.role === 2">Patient</option>
      </select>
      <input type="text" placeholder="Email" v-model="user.email">
      <input type="password" placeholder="Password" v-model="user.password">
      <button @click="handleCreateUser">Create</button>
    </div>
    <div class="create-medical-card">
      <span style="font-weight: bold; margin-bottom: 5px">Add a new medical plan</span>
      <select name="patients" v-model="medical_plan.idPatient">
        <option v-for="patient in patients" :value="patient.id" :disabled="medical_plan.idPatient === patient.id" >{{patient.name}}</option>
      </select>
      <input type="text" placeholder="Start treatment" v-model="medical_plan.start_treatment" onfocus="(this.type='date')" onblur="(this.type='text')">
      <input type="text" placeholder="End treatment" v-model="medical_plan.end_treatment" onfocus="(this.type='date')" onblur="(this.type='text')">
      <select name="medications" v-model="medical_plan.idMedication">
        <option v-for="medication in medications" :value="medication.id" :disabled="medical_plan.idMedication === medication.id">{{medication.name}}</option>
      </select>
      <input type="text" placeholder="Dosage" v-model="medical_plan.dosage">
      <button @click="handleCreateMedication">Add</button>
    </div>
    <div class="create-medical-card">
      <span style="font-weight: bold; margin-bottom: 5px">Assign a caregiver to a patient</span>
      <select name="patients" v-model="assign.idPatient">
        <option v-for="patient in patients" :value="patient.id" :disabled="assign.idPatient === patient.id" >{{patient.name}}</option>
      </select>
      <select name="caregiver" v-model="assign.idCaregiver">
        <option v-for="caregiver in caregivers" :value="caregiver.id" :disabled="assign.idCaregiver === caregiver.id" >{{caregiver.name}}</option>
      </select>
      <button @click="handleAssign">Assign</button>
    </div>
    <div class="create-medical-card">
      <span style="font-weight: bold; margin-bottom: 5px">Assign a side effect to a medication</span>
      <select name="patients" v-model="assignSide.idMedication">
        <option v-for="medication in medications" :value="medication.id" :disabled="assignSide.idMedication === medication.id" >{{medication.name}}</option>
      </select>
      <select name="patients" v-model="assignSide.idSideEffects">
        <option v-for="sideEffect in sideEffects" :value="sideEffect.id" :disabled="assignSide.idSideEffects === sideEffect.id" >{{sideEffect.description}}</option>
      </select>
      <button @click="handleAssignSign">Assign</button>
    </div>
    <div class="caregivers-wrapper">
      <span style="font-weight: bold; margin-bottom: 10px; display: block;">Caregivers and associated patients</span>
      <div class="caregiver-card" v-for="caregiver in caregivers">
        {{caregiver.name}}
        <div class="patient-card" v-for="patient in caregiver.patients">
          {{patient.patient_name}}
          <span class="medication" v-for="medication in patient.medication">
            {{medication.medication_name}} in {{medication.medical_record_dosage}}
            <span class="side-effects" v-for="side_effects in medication.side_effects">
              {{side_effects.description}}
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="CRUD-card">
      <span style="font-weight: bold; margin-bottom: 10px; display: block;">CRUD Area</span>
      <input type="text" placeholder="Get by id" v-model="id">
      <input type="radio" value="users" checked v-model="entity">Patient/Caregiver
      <input type="radio" value="medication" name="test" v-model="entity">Medication
      <button @click="handleGet">Get</button>
      <button @click="handleDelete">Delete</button>
      <div v-if="Object.values(crud).length" style="display: flex; flex-direction: row">
        <div v-for="entry in Object.entries(crud)" style="display: flex; flex-direction: column">
          <span>{{entry[0]}}</span>
          <input type="text" v-model="crud[entry[0]]">
        </div>
      </div>
      <button @click="handleUpdate" v-show="Object.values(crud).length">Update</button>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  export default {
    name: "index",
    layout: 'auth',
    middleware: 'doctor',
    data() {
      return {
        user: {
          name: '',
          birth_date: '',
          gender: '',
          address: '',
          role: 1,
          email: '',
          password: ''
        },
        medical_plan: {
          idPatient: '',
          dosage: '',
          idMedication: '',
          start_treatment: '',
          end_treatment: '',
          idDoctor: this.$store.state.user.id
        },
        assign: {
          idPatient: '',
          idCaregiver: ''
        },
        assignSide: {
          idMedication: '',
          idSideEffects: ''
        },
        id: '',
        entity: '',
        crud: {},
        patients: [],
        medications: [],
        caregivers: [],
        sideEffects: []
      }
    },
    methods: {
      async handleCreateUser() {
        try {
          let data = await axios.post('http://localhost:3000/users', this.user, { headers: {'Authorization': "bearer " + this.$store.state.token}});
          this.user = {name: '', birth_date: '', gender: '', address: '', role: 1, email: '', password: ''}
          this.fetchData();
        } catch (err) {
          console.log(err.response)
        }

      },
      async handleCreateMedication() {
        try {
          let data = await axios.post('http://localhost:3000/medication/plan', this.medical_plan, { headers: {'Authorization': "bearer " + this.$store.state.token}});
          this.medical_plan = {idPatient: '', dosage: '', idMedication: '', start_treatment: '', end_treatment: '', idDoctor: ''}
          this.fetchData();
        } catch (err) {
          console.log(err.response);
        }
      },
      async handleAssign() {
        try {
          await axios.post('http://localhost:3000/medication/caregiver/patients', this.assign, { headers: {'Authorization': "bearer " + this.$store.state.token}})
          this.fetchData();
        } catch (err) {
          console.log(err.response);
        }
      },
      async handleAssignSign() {
        try {
          await axios.post('http://localhost:3000/medication/sideeffects', this.assignSide, { headers: {'Authorization': "bearer " + this.$store.state.token}});
          this.fetchData();
        } catch (err) {
          console.log(err.response);
        }

      },
      async handleGet() {
        this.crud = {};
        try {
          let data = await axios.get(`http://localhost:3000/${this.entity === 'users' ? this.entity + '/byId' : this.entity}/${this.id}`, { headers: {'Authorization': "bearer " + this.$store.state.token}});
          this.crud = data.data;
        } catch (err) {
          console.log(err.response);
        }
      },
      async handleDelete() {
        try {
          await axios.delete(`http://localhost:3000/${this.entity}/${this.id}`, { headers: {'Authorization': "bearer " + this.$store.state.token}});
          this.id = '';
          this.crud = {};
          this.fetchData();
        } catch (err) {
          console.log(err.response);
        }
      },
      async handleUpdate() {
        try {
          await axios.patch(`http://localhost:3000/${this.entity}/${this.id}`, this.crud, { headers: {'Authorization': "bearer " + this.$store.state.token}});
          this.fetchData();
        } catch (err) {
          console.log(err.response);
        }
      },
      async fetchData() {
        try {
          let data = await axios.get('http://localhost:3000/users/patients', { headers: {'Authorization': "bearer " + this.$store.state.token}});
          this.patients = data.data;

          data = await axios.get('http://localhost:3000/users/caregivers', { headers: {'Authorization': "bearer " + this.$store.state.token}});
          for (const caregiver of data.data) {
            const patientList = await axios.get(`http://localhost:3000/medication/caregiver/patients/${caregiver.id}`, { headers: {'Authorization': "bearer " + this.$store.state.token}});
            Object.assign(caregiver, {patients: patientList.data});
          }

          this.caregivers = data.data;

          data = await axios.get('http://localhost:3000/medication', { headers: {'Authorization': "bearer " + this.$store.state.token}});
          this.medications = data.data;

          data = await axios.get('http://localhost:3000/medication/getAll/sideeffects', { headers: {'Authorization': "bearer " + this.$store.state.token}});
          this.sideEffects = data.data;

          this.medical_plan.idPatient = this.patients[0].id;
          this.medical_plan.idMedication = this.medications[0].id;
        } catch (err) {
          console.log(err.response)
        }
      },
    },
    async mounted() {
      await this.fetchData();
    }
  }
</script>

<style scoped>

  .create-user-card, .create-medical-card {
    display: flex;
    padding: 10px;
    flex-direction: column;
    width: 400px;
    background-color: lightgray;
    margin: 10px;
    height: fit-content;
  }

  .create-user-card input, .create-user-card select, .create-medical-card input, .create-medical-card select {
    margin: 5px;
    padding: 5px;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
  }

  .caregivers-wrapper {
    width: 100%;
    background-color: whitesmoke;
    padding: 20px;
  }

  .caregiver-card {
    background-color: lightgray;
    padding: 10px;
  }

  .patient-card {
    border-left: 2px solid black;
    padding: 5px 5px;
    margin: 10px 15px;
  }

  .medication {
    display: block;
    border-left: 1px solid darkgray;
    margin: 3px 10px;
    padding: 3px 3px;
  }

  .side-effects {
    display: block;
    border-left: 1px solid gray;
    margin: 3px 10px;
    padding: 2px 2px;
  }
</style>
