<template>
  <div class="content">
    <div class="patient" v-for="patientAndMedication in patients">
      {{'Patient ' + patientAndMedication.patient_name}}
      <div class="cards">
        <div class="plan-card" v-for="plan in patientAndMedication.medication">
          <span><b>Start treatment:</b> {{plan.medical_record_start_treatment.substring(0, 10)}}</span>
          <span><b>End treatment:</b> {{plan.medical_record_end_treatment.substring(0, 10)}}</span>
          <span><b>Medication:</b> {{plan.medication_name}}</span>
          <span><b>Dosage:</b> {{plan.medical_record_dosage}} per day</span>
          <span><b>Prescribed by:</b> Dr. {{plan.doctor_name}}</span>
          <span><b>Side effects:</b> {{plan.side_effects.length ? '' : 'No side effects'}}</span>
          <span style="margin-left: 40px" v-for="sideEffect in plan.side_effects" :key="sideEffect.description">{{sideEffect.description}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  export default {
    name: "index",
    layout: 'auth',
    middleware: 'caregiver',
    data() {
      return {
        patients: ''
      }
    },
    async mounted() {
      const myPatientsAndMedication = await axios.get('http://localhost:3000/medication/caregiver/patients', { headers: {'Authorization': "bearer " + this.$store.state.token}});
      this.patients = myPatientsAndMedication.data;
    }
  }
</script>

<style scoped>
  .patient {
    margin: 15px 0;
  }

  .plan-card {
    display: flex;
    width: 400px;
    padding: 10px;
    margin: 10px 0;
    background-color: lightgray;
    flex-direction: column;
  }

  .plan-card {
    margin-bottom: 5px;
    margin-right: 10px;
  }

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .plan-card span {
    margin: 3px;
  }

</style>
